<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1 style="color:blueviolet">This is a header</h1>
    </header>
        @RenderBody()
    <footer>
        <h1 style="color:darkseagreen">This is a footer</h1>
    </footer>
</body>
</html>
